extends ../layouts/main-layout.pug

block content
  main
    if errorMessage
      div.alert.alert-danger(role="alert")= errorMessage
    .container.mt-4
      .card
        form.card-body(action="/new-password", method="POST")
          .form-group
            label(for="password") Password
            input.form-control(type="password", name="password")#password        

          input(type="hidden", name="userId", value=userId)
          input(type="hidden", name="passwordToken", value=passwordToken)
          input(type="hidden", name="_csrf", value=csrfToken)
          button.btn.btn-primary(type="submit") Update Password